*{
    padding: 0;
    margin: 0;
}
#main{
    margin: 25px 10px;
    padding: 20px;
    border-radius: 5px;
    background: #eee;
    background-color: #EEEEEE;

}

body {
    font-family:'Segoe UI', 'Roboto','Helvetica Neue', Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    color: black;
    margin: 0;
    list-style-position: inside;
  }
#image{
    margin-top: 20px;
}
#img-div{
    background-color: #ffffff;
    margin-bottom: 5%;

}
#img-caption{
    padding: 2% 20%;
}
#tribute-info{
    margin: 0px 30%;
    text-align: left;
}
li{
    margin-top: 40px;
}
#closing{
    margin: 2%;
}
#timeline{
    margin-top: 4%;
}